.banner {

    margin: 250px 0px 0px 0px;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    
}

.banner__imagem.continer-banner__imagem-01 {
    
    width: 100%; 
    height: 100%; 
    grid-area: 1 / 1 / 2 / 3;

}

.banner__imagem.continer-banner__imagem-02 {
    
    width: 100%; 
    height: 100%; 
    grid-area: 2 / 1 / 3 / 2;

}

.banner__imagem.continer-banner__imagem-03 {

    width: 100%; 
    height: 100%; 
    grid-area: 3 / 1 / 4 / 2;

}

.banner__imagem.continer-banner__imagem-04 {

    width: 100%; 
    height: 100%; 
    grid-area: 2 / 2 / 4 / 3;

}

@media (min-width: 720px) {

    .banner {

        margin: 240px 0px 0px 0px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 20px;

    }


    .banner__imagem.continer-banner__imagem-01 {
    
        
        grid-area: 1 / 1 / 3 / 2;
    
    }
    
    .banner__imagem.continer-banner__imagem-02 {
        
   
        grid-area: 1 / 2 / 2 / 3;
    
    }
    
    .banner__imagem.continer-banner__imagem-03 {
    
      
        grid-area: 2 / 2 / 3 / 3;
    
    }
    
    .banner__imagem.continer-banner__imagem-04 {
    
    
        grid-area: 1 / 3 / 3 / 4;
    
    }

}

@media (min-width: 1440px) {

    .banner {

        margin: 125px 0px 0px 0px;

    }

}





