@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&=family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.conteudo__principal {
  margin: 0 auto;
  width: 90%;
}

.checkbox__botao {
  display: none;
}

.cabecalho__navegacao__intens__menu__hamburguer {
  display: none;
  position: fixed;
  background-color: #dadada;
  top: 150px;
  z-index: 1000;
  overflow-y: auto;
  max-height: 30vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens {
  margin: 0px 0px;
  color: #000000;
  padding: 1.2em;
}
.cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens:hover {
  background-color: #FFC756;
  color: #FFFFFF;
}
.cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens .cabecalho__navegacao__intens__menu__hamburguer__intens__links {
  font-family: "Fjalla One", sans-serif;
  color: #000000;
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.checkbox__botao:checked ~ .cabecalho__navegacao__intens__menu__hamburguer {
  display: block;
}

@media (min-width: 720px) {
  .cabecalho__navegacao__intens__menu__hamburguer {
    top: 100px;
  }
  .cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens {
    padding: 2em;
  }
  .cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens .cabecalho__navegacao__intens__menu__hamburguer__intens__links {
    font-size: 1em;
  }
}
@media (min-width: 1440px) {
  .cabecalho__navegacao__intens__menu__hamburguer .cabecalho__navegacao__intens__menu__hamburguer__intens .cabecalho__navegacao__intens__menu__hamburguer__intens__links {
    font-size: 1.2em;
  }
}
.cabecalho {
  position: fixed;
  top: 0;
  z-index: 900;
  background-color: #000000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.cabecalho__logo {
  width: 120px;
}

.cabecalho__navegacao {
  display: flex;
  align-items: end;
}

.cabecalho__navegacao__intens {
  font-family: "Fjalla One", sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  margin: 0px 10px;
}

.cabecalho__navegacao__intens:hover {
  color: #FFC756;
}

.cabecalho__navegacao__intens__icones {
  margin: 0 5px;
  padding: 0px 0px 0px 0px;
}

.cabecalho__caixa__de__pesquisa {
  margin: 30px 0px 20px 0px;
  padding: 1em;
  background-color: transparent;
  border-radius: 1em;
  border: 2px solid #FFFFFF;
  width: 300px;
}

.cabecalho__caixa__de__pesquisa::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background: url("../Imagens/Imagens__codigo/header/Ícone__busca.png") no-repeat;
  background-position: 99% 0%;
  height: 3em;
}

.cabecalho__caixa__de__pesquisa::placeholder {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  background: url("../Imagens/Imagens__codigo/header/Ícone__busca.png") no-repeat;
  background-position: 99% 0%;
  height: 3em;
}

input.cabecalho__caixa__de__pesquisa:focus {
  outline: none;
  border: 2px solid #FFC756;
  color: #FFFFFF;
}

@media (min-width: 720px) {
  .cabecalho {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  .cabecalho__navegacao {
    width: 70%;
    display: flex;
    gap: 50px;
    justify-content: space-around;
  }
  .cabecalho__caixa__de__pesquisa {
    width: 60%;
  }
}
@media (min-width: 1440px) {
  .cabecalho {
    flex-wrap: nowrap;
  }
  .cabecalho__logo {
    order: 0;
  }
  .cabecalho__navegacao {
    order: 2;
  }
  .cabecalho__caixa__de__pesquisa {
    order: 1;
    width: 350px;
  }
  .cabecalho__navegacao {
    width: 50%;
  }
}
.continer__seta {
  transform: rotate(180deg);
  margin: 0px 5px 5px 5px;
}

.checkbox__botao:checked + .cabecalho__navegacao__intens__icones .continer__seta {
  transform: rotate(360deg);
}

.banner {
  margin: 250px 0px 0px 0px;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.banner__imagem.continer-banner__imagem-01 {
  width: 100%;
  height: 100%;
  grid-area: 1/1/2/3;
}

.banner__imagem.continer-banner__imagem-02 {
  width: 100%;
  height: 100%;
  grid-area: 2/1/3/2;
}

.banner__imagem.continer-banner__imagem-03 {
  width: 100%;
  height: 100%;
  grid-area: 3/1/4/2;
}

.banner__imagem.continer-banner__imagem-04 {
  width: 100%;
  height: 100%;
  grid-area: 2/2/4/3;
}

@media (min-width: 720px) {
  .banner {
    margin: 240px 0px 0px 0px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
  }
  .banner__imagem.continer-banner__imagem-01 {
    grid-area: 1/1/3/2;
  }
  .banner__imagem.continer-banner__imagem-02 {
    grid-area: 1/2/2/3;
  }
  .banner__imagem.continer-banner__imagem-03 {
    grid-area: 2/2/3/3;
  }
  .banner__imagem.continer-banner__imagem-04 {
    grid-area: 1/3/3/4;
  }
}
@media (min-width: 1440px) {
  .banner {
    margin: 125px 0px 0px 0px;
  }
}
.categorias__destaques {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.categorias__destaques__secao01 {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 0px 0px;
}
.categorias__destaques__secao01 .categorias__titulo {
  font-family: "Fjalla One", sans-serif;
  color: #000000;
  font-size: 1.25em;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes .categorias__botao {
  font-family: "Fjalla One", sans-serif;
  color: #FFFFFF;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  padding: 1em 2em 1em 2em;
  margin: 0px 0px 10px 0px;
  border: none;
  text-transform: uppercase;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes .continer__categorias__botao__amarelo {
  background-color: #FFC756;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes .continer__categorias__botao__laranja {
  background-color: #F66139;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes .continer__categorias__botao__azul {
  background-color: #7F8FFE;
}
.categorias__destaques__secao01 .categorias__destaques__secao01__botoes .continer__categorias__botao__verde {
  background-color: #56B78C;
}

.categorias__destaques__secao02 .categorias__destaques__secao02__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px 40px 0px;
}
.categorias__destaques__secao02 .categorias__destaques__secao02__div .categorias__destaques__titulo {
  font-family: "Fjalla One", sans-serif;
  color: #000000;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: uppercase;
}
.categorias__destaques__secao02 .categorias__destaques__secao02__div .linha-decorativa {
  border-top: 2px solid black;
  width: 50%;
}
.categorias__destaques__secao02 .categorias__destaques__secao02__div .setas .seta-esquerda {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin: 0px 10px 0px 0px;
}
.categorias__destaques__secao02 .categorias__destaques__secao02__div .setas .seta-direita {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.categorias__destaques__secao02 .categorias__imagem {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 720px) {
  .categorias__destaques__secao01 .categorias__destaques__secao01__botoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .categorias__destaques__secao01 .categorias__destaques__secao01__botoes .categorias__botao {
    flex-grow: 1;
    flex-basis: calc(50% - 10px); /* 50% do contêiner menos margem */
    max-width: calc(50% - 10px); /* 50% do contêiner menos margem */
    box-sizing: border-box;
  }
  .categorias__destaques__secao02 .categorias__destaques__secao02__div .linha-decorativa {
    width: 80%;
  }
}
@media (min-width: 1440px) {
  .categorias__destaques {
    flex-direction: row;
    align-items: end;
  }
  .categorias__destaques .categorias__destaques__secao01 {
    width: 50%;
  }
  .categorias__destaques .categorias__destaques__secao02 {
    width: 50%;
  }
}
.proximos__eventos__titulo {
  font-family: "Fjalla One", sans-serif;
  color: #000000;
  font-size: 1.25em;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
  text-transform: uppercase;
}

.proximos__eventos__intens {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.proximos__eventos__intens .proximos__eventos__intens__card {
  background-color: #D9D9D9;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__imagem {
  width: 100%;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__divisao {
  padding: 0.5em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__divisao .proximos__eventos__titulo {
  font-family: "Fjalla One", sans-serif;
  color: #000000;
  font-size: 1.25em;
  font-weight: 400;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__divisao .proximos__eventos__texto {
  font-family: "Work Sans", sans-serif;
  color: #000000;
  font-size: 1em;
  font-weight: 400;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__divisao .proximos__eventos__intens__card__divisao__final {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proximos__eventos__intens .proximos__eventos__intens__card .proximos__eventos__intens__card__divisao .proximos__eventos__intens__card__divisao__final .proximos__eventos__botao {
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  padding: 1em 2em;
  background-color: #000000;
  border: none;
}
.proximos__eventos__intens .proximos__eventos__botao {
  margin: auto;
  width: 175px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: 400;
  padding: 1em 2em;
  background-color: #000000;
  border: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}/*# sourceMappingURL=index.css.map */