//importaçâo

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&=family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

//Variaveis
//Cores

//  cores que serão usadas no elementos da pagina  

$cor-elemento-01: #C2C2C2;
$cor-elemento-02: #959595;
$cor-elemento-03: #dadada;
$cor-elemento-04: #D9D9D9;


$cor-elemento-botao-01: #FFC756;
$cor-elemento-botao-02: #F66139;
$cor-elemento-botao-03: #7F8FFE;
$cor-elemento-botao-04: #56B78C;

//  cores que serão usadas apenas no textos da pagina  

//  cores que serão usadas no textos e elementos da pagina

$cor-elemento-ou-texto-01: #000000;
$cor-elemento-ou-texto-02: #FFFFFF;

$cor-elemento-ou-texto-hover-01: #FFC756;


//Fontes

$texto-01: "Fjalla One", sans-serif;
$texto-02: "Work Sans", sans-serif;